@media screen and (min-width: 576px) and (max-width: 992px) {
  .navigation_section {
    margin-bottom: 50px !important;
  }
  .team_section {
    gap: 32px !important;
  }
  .primary_button {
    padding: 1.1rem 0.563rem !important;
  }
  .navigation_section .title_logo {
    font-size: 1.2rem !important;
  }
  .about_team .title_logo {
    font-size: 2.0007rem !important;
  }
  .header_area {
    padding: 20px !important;
  }
  .main_area {
    padding: 50px 20px 130px !important;
  }
  .banner_content .banner_inner_content .banner_title {
    font-size: 2rem !important;
  }
}
@media screen and (max-width: 576px) {
  .navigation_section {
    flex-direction: column;
  }
  .header_area {
    padding: 20px !important;
  }
  .navigation_section ul li {
    margin-right: 1rem !important;
  }
  .banner_content .banner_inner_content .banner_title {
    font-size: 2rem !important;
  }
  .navigation_section .title_logo {
    margin-bottom: 10px;
    font-size: 1.3rem !important;
  }
  .main_area {
    padding: 50px 20px 130px !important;
  }
  .about_team {
    text-align: center;
  }
  .about_team .title_logo {
    font-size: 2.0007rem !important;
  }
  .team_section {
    flex-direction: column !important;
    gap: 35px !important;
  }
}
@media screen and (max-width: 354px) {
  .navigation_section ul {
    flex-direction: column !important;
  }
}
