@media screen and (min-width: 576px) and (max-width: 992px) {
  .navigation_section {
    margin-bottom: 50px !important;
  }
  .title_logo {
    font-size: 1.2rem !important;
  }
  .header_area {
    padding: 20px !important;
  }
  .banner_content .banner_inner_content .banner_title {
    font-size: 2rem !important;
  }
}
@media screen and (max-width: 576px) {
  .navigation_section {
    flex-direction: column;
  }
  .header_area {
    padding: 20px !important;
  }
  .navigation_section ul li {
    margin-right: 1rem !important;
  }
  .banner_content .banner_inner_content .banner_title {
    font-size: 2rem !important;
  }
  .title_logo {
    margin-bottom: 10px;
    font-size: 1.3rem !important;
  }
}
@media screen and (max-width: 354px) {
  .navigation_section ul {
    flex-direction: column !important;
  }
}
