/* work sans font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* common css start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
li {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
.container {
  max-width: 82.5rem;
  margin: 0 auto;
}
.title_logo {
  color: #131313;
  font-size: 2.813rem;
  font-weight: 700;
}
.description {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.625rem;
  color: #727272;
}
.fetures_item_heading {
  color: #131313;
  font-size: 20px;
  font-weight: 600;
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.primary_button {
  padding: 1.25rem 1.563rem;
  border-radius: 0.5rem;
  background: #ff900e;
  border: none;
  font-size: 1.25rem;
  font-weight: 600;
}
/* common css end */
/* start header_area */
.header_area {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 100px;
}
.navigation_section {
  margin-bottom: 102px;
}
.navigation_section ul li {
  font-size: 1.125rem;
  line-height: 1.625rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-right: 2rem;
}
.navigation_section ul li:last-child {
  margin-right: 0;
}
.navigation_section ul li a {
  color: #424242;
}
.banner_section .button {
  margin-top: 2rem;
}
.banner_content {
  max-width: 862px;
  text-align: center;
  margin: 0 auto 3.125rem;
}
.banner_content .banner_inner_content .banner_title {
  font-size: 4rem;
  color: #131313;
  font-weight: 700;
  margin-bottom: 1.875rem;
}
.button button a {
  color: #fff;
}

.banner_image img,
.team_member img,
.features_img img {
  width: 100%;
}

/* end header_area */
/* start main_area */
.main_area {
  padding: 85px 100px 130px;
}
/* team_section css */
.team_section {
  gap: 79px;
  margin-bottom: 130px;
}
.team_member {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.about_team {
  max-width: 537px;
}
.about_team h3 {
  color: #727272;
  font-weight: 500;
}
.of_our {
  color: #131313;
  font-weight: 700;
}
.feature {
  color: #ff900e;
  font-weight: 700;
}

.team_section .description,
.team_section .button {
  margin-top: 24px;
}

/* features_section css */
.features_section {
  gap: 40px;
}
.features_content {
  max-width: 586px;
}
.features_item {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  padding: 30px;
  margin-bottom: 20px;
}
.features_item:last-child {
  margin-bottom: 0;
}
.facts_heading h3 {
  margin-bottom: 24px;
}
.facts_heading p {
  max-width: 542px;
}
.features_content_heading h3 {
  border-left: 5px solid #ff900e !important;
  max-width: 468px;
  padding-left: 21px;
  margin-bottom: 24px;
  position: relative;
}

.features_content_heading p {
  margin-bottom: 30px;
}
.features_item h5 {
  margin-bottom: 10px;
}
.features_img {
  position: relative;
}
.features_img img {
  margin-left: 75px;
}
.ten_year_badge {
  position: absolute;
  text-align: center;
  border-radius: 8px;
  background: #ff900e;
  padding: 46px 42px;
  bottom: -83px;
}
.ten_year_badge h2 {
  font-size: 4.0625rem;
  font-weight: 700;
  line-height: 4.375rem;
  color: #fff;
}
.ten_year_badge p {
  color: #fff;
  font-size: 1.5625rem;
  font-weight: 500;
  line-height: 2.5rem;
}
/* facts_section css */
.facts_section {
  margin-top: 130px;
}
.facts_heading {
  margin-bottom: 100px;
}
.facts_card {
  padding: 0 50px;
}
.facts_item {
  text-align: center;
  padding: 45px 35px 59px;
  border-radius: 8px;
  border: 1px solid #ff900e;
  width: 241.831px;
  /* max-width: 241.831px; */
  height: 241.831px;
}
.facts_item h3 {
  color: #424242;
  font-size: 2.8125rem;
  font-weight: 600;
  margin: 10px 0 5px;
}
.facts_item p {
  color: #727272;
  font-size: 1.25rem;
  font-weight: 600;
}
/* .facts_card_img {
  max-width: 46px;
  height: 46px;
  margin: 0 auto;
}
.facts_card_img img {
  width: 100%;
} */
/* sponsor_section */
.sponsor_section {
  padding: 180px 0 130px 0;
}
.sponsor_content {
  margin-bottom: 50px;
}
.sponsor_content h3,
.sponsor_content p {
  text-align: center;
}
.sponsor_content p {
  width: 542px;
  margin: 24px auto 0;
}
.sponsor_img {
  width: 166px;
  height: 50px;
}
.sponsor_img img {
  filter: grayscale(100);
  width: 100%;
}
/* end main_area */
/* footer_area */
.footer {
  background: #fff4e7;
  padding: 38px 0;
  text-align: center;
}
.footer span {
  color: #424242;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
